<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Online Shopping</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
  </head>
  <body>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<!--Section: Contact v.2-->
<section class="mb-4">

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">       
        <form action="/" method="post">
        {% csrf_token %}
          <section>
            <input type="checkbox" id="groupId" name="groupId">
            <label for="fname">Groups</label>
            <input type="number" name="group" style="width: 13%;">
          </section>

          <section>
            <input type="checkbox" id="campaignId" name="campaignId">
            <label for="fname">Campaign</label>
            <input type="number" name="campaign" style="width: 13%;">
          </section>

          <section>
            <input type="checkbox" id="trackId" name="trackId">
            <label for="fname">Tracking Number</label>
            <input type="number" name="track" style="width: 13%;">
          </section>

          <section>
            <input type="checkbox" id="callId" name="callId">
            <label for="fname">Calls</label>
            <input type="number" name="call" style="width: 13%;">
          </section>
          <section>
            <input type="checkbox" id="tagId" name="tagId">
            <label for="fname">Tags</label>
            <input type="number" name="tag" style="width: 13%;">
          </section>
          <section>
            <input type="checkbox" id="webhookId" name="webhookId">
            <label for="fname">Webhooks</label>
            <input type="number" name="webhook" style="width: 13%;">
          </section>
          <section>
            <input type="checkbox" id="premiumId" name="premiumId">
            <label for="fname">Premium Number</label>
            <input type="number" name="premium" style="width: 13%;">
          </section>
          <section>
            <input type="checkbox" id="reserveId" name="reserveId">
            <label for="fname">Reserve Number</label>
            <input type="number" name="reserve" style="width: 13%;">
          </section>
          <section>
          
            <input type="checkbox" id="componentId" name="componentId">
            <label for="fname">Component</label>
            <select  multiple="multiple" name="component">
              <option value="php">PHP</option>
              <option value="javascript">JavaScript</option>
              <option value="java">Java</option>
              <option value="sql">SQL</option>
              <option value="jquery">Jquery</option>
              <option value=".net">.Net</option>
            </select>
          </section>
          <section>
          <section>
            <label for="stageENV">Select Staging</label>
            <select class="form-select" id="stageENV" name="stageENV" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                </select>
          </section>
            <input type="submit" value="Submit">
          </section>
          </section>
      </form>
        </div>
    </div>

</section>
<!--Section: Contact v.2-->
{% comment %} <script type="text/javascript">
    $(document).ready(function() {
        $('#multiple-checkboxes').multiselect({
          includeSelectAllOption: true,
        });
    });
</script> {% endcomment %}
  </body>
</html>